In [ ]:
import pymysql

In [ ]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password='seyilaw1',
    database = 'schoolrecordmanagementsystem'
)
mycursor = mydb.cursor()

In [ ]:
mycursor.execute('select * from studentper where age >=13 and JS11st >=80')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where age >=13 or JS11st >=80')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where (age >=13 and JS11st >=80) or (JS22nd = 50)')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Mjob like "T%"')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Mjob like "%T"')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Fjob like "__S%"')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Mjob like "_______"')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Mjob  not like "T%"')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Mjob <> "ADMIN"')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Mjob is not null')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Mjob is null')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where Emotions in (0,2,4)')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select * from studentper where JS11st between 80 and 85')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select distinct(Emotions) from studentper')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('create table Emotion1 select * from studentper where Emotions  = 1')
mycursor.execute('alter table Emotion1 add column EM1ID  int not null primary key auto_increment first')
mycursor.execute('show columns from Emotion1')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('create table Emotion2 select * from studentper where Emotions  = 2')
mycursor.execute('alter table Emotion2 add column EM2ID  int not null primary key auto_increment first')
mycursor.execute('show columns from Emotion2')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('create table Emotion3 select * from studentper where Emotions  = 3')
mycursor.execute('alter table Emotion3 add column EM3ID  int not null primary key auto_increment first')
mycursor.execute('show columns from Emotion3')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute('select emotion1.JS11st,emotion1.JS12nd,emotion2.JS21st, emotion2.JS22nd from emotion1 inner join emotion2 on emotion1.EM1ID = emotion2.EM2ID')
for x in mycursor:
    print(x)

In [44]:
mycursor.execute('select emotion1.JS11st,emotion1.JS12nd,emotion2.JS21st, emotion2.JS22nd from emotion1 left join emotion2 on emotion1.EM1ID = emotion2.EM2ID')
for x in mycursor:
    print(x)

(68, 69, 60, 61)
(60, 61, 66, 61)
(70, 65, 91, 88)
(75, 81, 95, 96)
(71, 73, 94, 89)
(75, 79, 71, 70)
(56, 67, 61, 59)
(98, 88, 79, 84)
(77, 75, 49, 48)
(80, 69, 69, 68)
(66, 67, 53, 51)
(79, 80, 66, 62)
(56, 55, 63, 65)
(60, 58, 75, 71)
(60, 58, 80, 78)
(71, 72, 67, 69)
(77, 75, 64, 60)
(64, 63, 72, 71)
(82, 70, 68, 73)
(86, 82, 51, 60)
(72, 70, 59, 67)
(86, 70, 60, 86)
(60, 61, 62, 59)
(70, 72, 70, 75)
(76, 72, 70, 71)
(54, 52, 74, 81)
(52, 55, 80, 79)
(63, 66, 70, 69)
(67, 68, 71, 73)
(55, 51, 65, 69)
(76, 68, 54, 52)
(60, 59, 84, 83)
(50, 55, 61, 59)
(61, 64, 84, 80)
(59, 60, 60, 72)
(69, 55, 69, 70)
(66, 67, 80, 78)
(87, 86, 69, 60)
(83, 85, 60, 72)
(72, 77, 70, 61)
(80, 78, 50, 54)
(67, 68, 87, 84)
(52, 60, 68, 73)
(79, 68, 65, 62)
(80, 81, 82, 89)
(84, 82, 85, 84)
(69, 78, 71, 65)
(77, 80, 68, 69)
(70, 82, 84, 88)
(75, 78, 61, 64)
(66, 80, 92, 90)
(68, 84, 70, 68)
(73, 77, 84, 90)
(60, 78, 57, 60)
(67, 78, 75, 81)
(69, 75, 55, 53)
(90, 93, 77, 85)
(71, 70, 57, 59)
(59, 63, 83, 85)
(66, 70, 69, 71)
(80, 75, 88, 83)
(67, 80, 61, 62)
(57, 61, 89, 80)
(73, 71, 89, 81)
(63, 67, 72, 82)
(63, 84, 87, 83)
(70, 71, 68, 62)
(68, 69, 86, 78)
(51, 56, 72, 80)
(71, 68, 72, 70)
(55, 56, 87, 80)
(59, 50, 82, 85)
(60, 61, 70, 68)
(92, 95, 77, 65)
(75, 64, 86, 87)
(60, 61, 88, 79)
(76, 71, 83, 72)
(73, 68, 81, 80)
(75, 81, 55, 57)
(71, 73, 60, 62)
(66, 67, 69, 81)
(59, 58, 82, 80)
(86, 80, 52, 58)
(87, 86, 80, 82)
(68, 76, 69, 68)
(51, 56, 86, 80)
(62, 60, 97, 81)
(79, 80, 63, 65)
(80, 78, 59, 50)
(56, 67, 80, 83)
(80, 77, 81, 79)
(79, 80, 56, 54)
(56, 55, 66, 62)
(70, 71, 67, 69)
(78, 71, 75, 71)
(62, 62, 59, 71)
(70, 72, 67, 69)
(50, 52, 78, 52)
(76, 72, 82, 86)
(45, 56, 71, 74)
(52, 55, 82, 77)
(57, 70, 78, 76)
(80, 78, 75, 79)
(60, 70, 59, 55)
(80, 81, 51, 60)
(66, 67, 70, 56)
(55, 51, 70, 69)
(76, 68, 61, 67)
(54, 53, 60, 86)
(70, 73, 74, 81)
(67, 65, 70, 69)
(80, 89, 61, 62)
(88, 90, 68, 69)
(45, 50, 70, 87)
(60, 61, 70, 68)

In [43]:
mycursor.execute('select emotion1.JS11st,emotion1.JS12nd,emotion2.JS21st, emotion2.JS22nd from emotion1 right join emotion2 on emotion1.EM1ID = emotion2.EM2ID')
for x in mycursor:
    print(x)

(68, 69, 60, 61)
(60, 61, 66, 61)
(70, 65, 91, 88)
(75, 81, 95, 96)
(71, 73, 94, 89)
(75, 79, 71, 70)
(56, 67, 61, 59)
(98, 88, 79, 84)
(77, 75, 49, 48)
(80, 69, 69, 68)
(66, 67, 53, 51)
(79, 80, 66, 62)
(56, 55, 63, 65)
(60, 58, 75, 71)
(60, 58, 80, 78)
(71, 72, 67, 69)
(77, 75, 64, 60)
(64, 63, 72, 71)
(82, 70, 68, 73)
(86, 82, 51, 60)
(72, 70, 59, 67)
(86, 70, 60, 86)
(60, 61, 62, 59)
(70, 72, 70, 75)
(76, 72, 70, 71)
(54, 52, 74, 81)
(52, 55, 80, 79)
(63, 66, 70, 69)
(67, 68, 71, 73)
(55, 51, 65, 69)
(76, 68, 54, 52)
(60, 59, 84, 83)
(50, 55, 61, 59)
(61, 64, 84, 80)
(59, 60, 60, 72)
(69, 55, 69, 70)
(66, 67, 80, 78)
(87, 86, 69, 60)
(83, 85, 60, 72)
(72, 77, 70, 61)
(80, 78, 50, 54)
(67, 68, 87, 84)
(52, 60, 68, 73)
(79, 68, 65, 62)
(80, 81, 82, 89)
(84, 82, 85, 84)
(69, 78, 71, 65)
(77, 80, 68, 69)
(70, 82, 84, 88)
(75, 78, 61, 64)
(66, 80, 92, 90)
(68, 84, 70, 68)
(73, 77, 84, 90)
(60, 78, 57, 60)
(67, 78, 75, 81)
(69, 75, 55, 53)
(90, 93, 77, 85)
(71, 70, 57, 59)
(59, 63, 83, 85)
(66, 70, 69, 71)
(80, 75, 88, 83)
(67, 80, 61, 62)
(57, 61, 89, 80)
(73, 71, 89, 81)
(63, 67, 72, 82)
(63, 84, 87, 83)
(70, 71, 68, 62)
(68, 69, 86, 78)
(51, 56, 72, 80)
(71, 68, 72, 70)
(55, 56, 87, 80)
(59, 50, 82, 85)
(60, 61, 70, 68)
(92, 95, 77, 65)
(75, 64, 86, 87)
(60, 61, 88, 79)
(76, 71, 83, 72)
(73, 68, 81, 80)
(75, 81, 55, 57)
(71, 73, 60, 62)
(66, 67, 69, 81)
(59, 58, 82, 80)
(86, 80, 52, 58)
(87, 86, 80, 82)
(68, 76, 69, 68)
(51, 56, 86, 80)
(62, 60, 97, 81)
(79, 80, 63, 65)
(80, 78, 59, 50)
(56, 67, 80, 83)
(80, 77, 81, 79)
(79, 80, 56, 54)
(56, 55, 66, 62)
(70, 71, 67, 69)
(78, 71, 75, 71)
(62, 62, 59, 71)
(70, 72, 67, 69)
(50, 52, 78, 52)
(76, 72, 82, 86)
(45, 56, 71, 74)
(52, 55, 82, 77)
(57, 70, 78, 76)
(80, 78, 75, 79)
(60, 70, 59, 55)
(80, 81, 51, 60)
(66, 67, 70, 56)
(55, 51, 70, 69)
(76, 68, 61, 67)
(54, 53, 60, 86)
(70, 73, 74, 81)
(67, 65, 70, 69)
(80, 89, 61, 62)
(88, 90, 68, 69)
(45, 50, 70, 87)
(60, 61, 70, 68)
(None, None, 55, 53)
(None, None, 56, 54)
(None, None, 61, 62)
(None, None, 72, 70)
(None, None, 62, 69)
(None, None, 77, 65)
(None, None, 62, 63)
(None, None, 83, 72)
(None, None, 63, 66)
(None, None, 62, 60)
(None, None, 67, 71)
(None, None, 65, 62)
(None, None, 60, 61)
(None, None, 68, 69)
(None, None, 61, 67)
(None, None, 55, 57)

In [48]:
mycursor.execute('select emotion1.JS11st,emotion1.JS12nd,emotion2.JS21st, emotion2.JS22nd from emotion1 cross join emotion2 on emotion1.EM1ID = emotion2.EM2ID')
for x in mycursor:
    print(x)

(68, 69, 60, 61)
(60, 61, 66, 61)
(70, 65, 91, 88)
(75, 81, 95, 96)
(71, 73, 94, 89)
(75, 79, 71, 70)
(56, 67, 61, 59)
(98, 88, 79, 84)
(77, 75, 49, 48)
(80, 69, 69, 68)
(66, 67, 53, 51)
(79, 80, 66, 62)
(56, 55, 63, 65)
(60, 58, 75, 71)
(60, 58, 80, 78)
(71, 72, 67, 69)
(77, 75, 64, 60)
(64, 63, 72, 71)
(82, 70, 68, 73)
(86, 82, 51, 60)
(72, 70, 59, 67)
(86, 70, 60, 86)
(60, 61, 62, 59)
(70, 72, 70, 75)
(76, 72, 70, 71)
(54, 52, 74, 81)
(52, 55, 80, 79)
(63, 66, 70, 69)
(67, 68, 71, 73)
(55, 51, 65, 69)
(76, 68, 54, 52)
(60, 59, 84, 83)
(50, 55, 61, 59)
(61, 64, 84, 80)
(59, 60, 60, 72)
(69, 55, 69, 70)
(66, 67, 80, 78)
(87, 86, 69, 60)
(83, 85, 60, 72)
(72, 77, 70, 61)
(80, 78, 50, 54)
(67, 68, 87, 84)
(52, 60, 68, 73)
(79, 68, 65, 62)
(80, 81, 82, 89)
(84, 82, 85, 84)
(69, 78, 71, 65)
(77, 80, 68, 69)
(70, 82, 84, 88)
(75, 78, 61, 64)
(66, 80, 92, 90)
(68, 84, 70, 68)
(73, 77, 84, 90)
(60, 78, 57, 60)
(67, 78, 75, 81)
(69, 75, 55, 53)
(90, 93, 77, 85)
(71, 70, 57, 59)
(59, 63, 83, 85)
(66, 70, 69, 71)
(80, 75, 88, 83)
(67, 80, 61, 62)
(57, 61, 89, 80)
(73, 71, 89, 81)
(63, 67, 72, 82)
(63, 84, 87, 83)
(70, 71, 68, 62)
(68, 69, 86, 78)
(51, 56, 72, 80)
(71, 68, 72, 70)
(55, 56, 87, 80)
(59, 50, 82, 85)
(60, 61, 70, 68)
(92, 95, 77, 65)
(75, 64, 86, 87)
(60, 61, 88, 79)
(76, 71, 83, 72)
(73, 68, 81, 80)
(75, 81, 55, 57)
(71, 73, 60, 62)
(66, 67, 69, 81)
(59, 58, 82, 80)
(86, 80, 52, 58)
(87, 86, 80, 82)
(68, 76, 69, 68)
(51, 56, 86, 80)
(62, 60, 97, 81)
(79, 80, 63, 65)
(80, 78, 59, 50)
(56, 67, 80, 83)
(80, 77, 81, 79)
(79, 80, 56, 54)
(56, 55, 66, 62)
(70, 71, 67, 69)
(78, 71, 75, 71)
(62, 62, 59, 71)
(70, 72, 67, 69)
(50, 52, 78, 52)
(76, 72, 82, 86)
(45, 56, 71, 74)
(52, 55, 82, 77)
(57, 70, 78, 76)
(80, 78, 75, 79)
(60, 70, 59, 55)
(80, 81, 51, 60)
(66, 67, 70, 56)
(55, 51, 70, 69)
(76, 68, 61, 67)
(54, 53, 60, 86)
(70, 73, 74, 81)
(67, 65, 70, 69)
(80, 89, 61, 62)
(88, 90, 68, 69)
(45, 50, 70, 87)
(60, 61, 70, 68)